/bin/
/dist/
/mactun
/AGENTS.md
/sources/
/.gocache*/
/.gomodcache/
/.gopath/
/.buildcache/
/.depscache/
/.swiftcache/
/macos/DataPlane/lib/libmactun.a
/macos/DataPlane/lib/libmactun.h
/macos/DerivedData/
/macos/com.apple.DeveloperTools/
/windows/gui/bin/
/windows/gui/obj/
**/xcuserdata/
*.xcuserstate
.DS_Store
*.log
